# ============================== Filebeat inputs ===============================

filebeat.inputs:

  # Each - is an input. Most options can be set at the input level, so
  # you can use different inputs for various configurations.
  # Below are the input specific configurations.

  - type: log

    # Change to true to enable this input configuration.
    enabled: true

    # Paths that should be crawled and fetched. Glob based paths.
    paths:
  {% if COMPONENT == "frontend" %}
      - /var/log/nginx/access.log
  {%endif%}


# ======================= Elasticsearch template setting =======================

setup.template.settings:
  index.number_of_shards: 1

# ---------------------------- Elasticsearch Output ----------------------------
{% if COMPONENT == "catalogue" %}
output.elasticsearch:
  # Array of hosts to connect to.
  setup.template.name: "{{COMPONENT}}"
  setup.template.pattern: "{{COMPONENT}}-*"
  setup.template.enabled: false
  setup.ilm.enabled: false
  hosts: ["{{ELASTICSEARCH_IP}}:9200"]
  index: "{{COMPONENT}}-%{+yyyy.MM.dd}"
{%endif%}

# ------------------------------ Logstash Output -------------------------------
{% if COMPONENT == "frontend" %}
output.logstash:
  # The Logstash hosts
  hosts: ["{{LOGSTASH_IP}}:5044"]
{%endif%}
# ================================= Processors =================================
processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~


